# Ignore everything
*

# Allow the assignment folder
!Assignment_1/
!Assignment_1/**
!Assignment_2/
!Assignment_2/**
!book_catalog/
!book_catalog/**
!Enums_interactive/
!Enums_interactive/**

# Allow gitignore itself
!.gitignore
